html,
body {
    margin: 0;
    height: 100%;
    display: flex;
}

.imgcont {
    height: 99%;
    width: 40;
    min-width: 40;
    min-height: 100%;
    margin: 0;
}

.imgcont img {
    height: 99%;
    width: 100%;
    object-fit: fill;
}

.formcont {
    width: 60%;
    min-width: 60%;
    background-color: rgb(235, 235, 235);
    max-width: 60%;
}

.formtop {
    height: 19%;
    display: flex;
    flex-direction: column;
    margin: 10% 10% 0% 5%;
    white-space: nowrap;
    overflow: hidden;
}

.formtop div {
    font-weight: bold;
}

.mainformcont {
    height: 35%;
    background-color: rgb(245, 245, 245);
}

#form {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 40%;
    gap: 5%;
}

#form>div {
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}

.mainformcont div {
    width: 40%;
    flex-basis: 40%;
}

.submit {
    position: relative;
    left: 5%;
    margin-top: 5%;
    width: 20%;
    padding: 1%;
    border-color: rgba(201, 185, 185, 0.87);
    border-radius: 8px;
    font-size: 12px;
    font-weight: bold;
}

.formbot {
    margin-top: 10%;
    margin-left: 5%;
}

#form>div>input {
    border-color: rgba(196, 196, 196, 0.521);
    border-radius: 4px;
}

#form>div>label {
    color: rgba(32, 32, 32, 0.884);
}

#form.submitted input:invalid {
    border: 2px solid rgba(255, 0, 0, 0.418);
}